<link href="css/vote.css" rel="stylesheet" type="text/css" />
<script src="js/vote.js"></script>

<div class="clear"></div>
<div class="container">
    <div class="column">
        <div class="votes_main">
            <div class="votes_gray" style="width:{width}px;">
                <div class="votes_buttons" id="{pid}" cnt="{rate_cnt}" val="{rate_avg}">
                    {votes}
                </div>
                <div class="votes_active" style="width:{act_width}px;"></div>
            </div>
            <span><b>{rate_cnt}</b> votes</span>
        </div>
    </div>
</div>